<!-- Header -->
			<div id="header-wrapper">
				<div id="header">

					<!-- Logo -->
						<h1 style="font-family:Lalezar;font-weight:300"><a href="index.html" style="vertical-align:middle">محادثة </a><img width="50px" src="{{site.baseurl}}/assets/images/logo.png"/></h1>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li class="current"><a href="index.html">الصفحة الرئيسية</a></li>
								<li><a href="index.html">مقالات</a></li>
								<li><a href="index.html"><b>Join us as a Tutor</b></a></li>

								<!--
								<li>
									<a href="">Dropdown</a>
									<ul>
										<li><a href="{{ site.baseurl }}/blog">Blog</a></li>
										<li><a href="#">Magna phasellus</a></li>
										<li><a href="#">Etiam dolore nisl</a></li>
										<li>
											<a href="">Phasellus consequat</a>
											<ul>
												<li><a href="#">Magna phasellus</a></li>
												<li><a href="#">Etiam dolore nisl</a></li>
												<li><a href="#">Veroeros feugiat</a></li>
												<li><a href="#">Nisl sed aliquam</a></li>
												<li><a href="#">Dolore adipiscing</a></li>
											</ul>
										</li>
										<li><a href="#">Veroeros feugiat</a></li>
									</ul>
								</li>
								<li><a href="{{ site.baseurl }}/left-sidebar.html">Left Sidebar</a></li>
								<li><a href="{{ site.baseurl }}/right-sidebar.html">Right Sidebar</a></li>
								<li><a href="{{ site.baseurl }}/no-sidebar.html">No Sidebar</a></li>
								-->
							</ul>
						</nav>

					<!-- Banner -->
						<section id="banner">
							<header>
								<h2>ولادك هيفرقوا بين الـB و الـP</h2>

								<p>لو بيدرسلهم مدرس 
								<span style="font-size:1.5em">اجنبي</span>
								</p>
							</header>
						</section>

					<!-- Intro -->
						<section id="intro" class="container">
							<div class="row">
								<div class="4u">
									<section class="first">
										<i class="icon featured fa-flag"></i>
										<header>
											<h2>مدرسين اجانب</h2>
										</header>
										<p>كل المدرسين اللي عندنا لغتهم الاولى انجليزي</p>
									</section>
								</div>
								<div class="4u">
									<section class="middle">
										<i class="icon featured alt fa-flash"></i>
										<header>
											<h2>احدث الطرق</h2>
										</header>
										<p>بنستخدم احدث الطرق في تعليم اولادك الانجليزي</p>
									</section>
								</div>
								<div class="4u">
									<section class="last">
										<i class="icon featured alt2 fa-star"></i>
										<header>
											<h2>خبرة</h2>
										</header>
										<p>كل المدرسين عندنا ليهم خبرة كبيرة في تدريس الانجليزي </p>
									</section>
								</div>
							</div>
							<footer>
								<ul class="actions">
									<li><a href="#tutors" class="button big">اختر مدرس دلوقتي!</a></li>
									<!--<li><a href="#" class="button alt big">Learn More</a></li>-->
								</ul>
							</footer>
						</section>

				</div>
			</div>